* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(28, 26, 26);
}

h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

.principal {
    width: 1024px;
    margin: 0 auto;
    background-color: rgb(54, 49, 110);
}

/** Header Início **/

.header-nav {
    margin: 20px 0 0;
    height: 50px;
    border: 1px solid transparent;
    position: relative;
}

.nav-ul {
    text-align: center;
    list-style-type: none;
    width: 420px;
    margin: 10px auto;
    box-sizing: border-box;
}

.nav-li {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    text-transform: uppercase;   
    letter-spacing: 1px;
    color: white;
    transition: all .4s ease-in-out;
}

.nav-li:last-child{
    border: none;   
    margin: 0;
}

.nav-li:hover {
    border: 1px solid black;
    color: black;
    background-color: rgb(42, 39, 39);
    text-decoration: underline;

}

.nav-link {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}

/** Info Início **/

.inicio-info{
    margin: 0 auto;
    height: 250px;
    position: relative;
}

.title {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
}

.subtitle {
    color: white;
    text-align: center;
    margin: 20px auto;
    font-size: 14px;
}

.img-inicio {
    width: 200px;
    position: absolute;
    left: 2px;
    top: 30px;
}

.paragrafo {
    color: white;
    text-align: center;
}

.paragrafo-inicio {
    width: 800px;
    margin: 0 0 0 210px;
}

/** Sobre Mim */

.habilidades {
    display: inline-block;
    margin-left: 3%;
}

.cards-habilidades{
    width: 202px;
}

.img-habilidades{
    width: 200px;
}

.paragrafo-sobre-mim {
    margin: 20px auto;
    width: 800px;
}

/** Projetos **/

.sumir {    
    visibility: hidden;
}

#projeto-pjt {
    border: 1px solid red;
}

.container-projetos{
    width: 900px;
    margin: 0 auto;
}

.content-projeto {
    display: inline-block;
    margin: 0 10px;
}

.img-projeto  {
    width: 200px;
}

.title-projeto {
    text-align: center;
}